
.tidy-tPS {
  width: 150px;
  position: absolute;
  left: 4%;
  bottom: -25%;
}

.tidy-tPS>img{
  width: 100%;
}

.tidy-tPS-posetxt{
  width: 180px;
  position: absolute;
  /* left: calc(50% - 25px); */
  bottom: 0%;
  /* left: 0; */
  transform: translate(-15px, 50%)
}
.tidy-tPS-posetxt>img{
  width: 100%;
  height: 65%;
}

/* @media screen and (max-width: 800px) {

  .cloud-hdr h2 {
    font-size: 25px !important;
  }

  .cloud-hdr h1 {
    font-size: 40px !important;
  }

  .close-btn img {
    width: 75%;
  }
  .tidy-tPS img {
    width: 65% !important;
  }
  .wheelBox{
		display: flex;
		justify-content: center;
		position: relative;
		top: -130px;
	}
  .tapClass {
		margin-top: -120px !important;
		font-size: 30px !important;
		font-family: RobotoCondensedMedium;
		text-align: center;
	}
  .cloud-hdr {
    position: relative;
    width: 100vw;
    background-color: #0b57d0;
    text-align: center;
    color: #fff;
    padding: 52px 0px 155px 0px;
    height: -18% !important;
    height: 15px;
}
} */


.cloud-hdr h1 {
  margin: 0px;
  padding: 0px;
}

.cloud-hdr h2 {
  margin: 0px;
  padding: 0px;
}



.tapClass {
  /* position: absolute;
  top: 88%;
  left: 22%; */
  margin-top: 16px;
  font-size: 20px;
  font-family: RobotoCondensedMedium;
  text-align: center;
}

/* #bottomMarkText {
  padding-left: 40px;
  margin: 0;
  background: url(src/assets/footer-logo.png) no-repeat left center;
  display: inline-block;
  color: #fff;
} */
.wheelBox {
  margin-top: 25px;
  display: flex;
  justify-content: center;
 
}
.wheelBox > canvas {
  /* max-width: calc(100vw - 1100px); */
  height: calc(100vh - 360px);
  /* width: 17%;
  margin-left: -2%; */
}

/* @media screen and (min-width: 1025px) {
  .cloud-hdr {
    position: relative;
    width: 100% !important;
    height: 0px !important;
    background-color: #0b57d0;
    text-align: center;
    color: #fff;
    padding: 52px 0px 155px 0px;
}
.cloud-hdr h2 {
  margin: -35px;
  padding: 0px;
  font-size: 30px;
}
.cloud-hdr h1 {
  margin: 32px;
  padding: 0px;
  font-size: 60px;
}
.tidy-tPS img {
  width: 65%;
}
.wheelBox > canvas {
  width: 16%;
  margin-top: -82px !important;
}
.tapClass {
  margin-top: 6px;
  font-size: 30px;
  font-family: RobotoCondensedMedium;
  text-align: center;
}
} */
