.printing__edge_subheading {
  color: #deebff;
  font-size: 1.125rem;
  padding-left: 2.7rem;
}
.printing__heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  font-family: "Roboto", Condensed Regular;
}
.printing__header-heading {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.total__palyers-heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  font-family: "Roboto", Condensed Regular;
  /* margin-top: 1.5rem; */
  padding-left: 1.7rem;
}
.printing__parent-container {
  padding: 1.125rem;
}
.printing__header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.125rem;
}

.parent__player-container:nth-last-child(1) {
  border-bottom: 1px solid #0b57d0;
}
.border-container {
  border: 2px solid \red;
  padding: 20px; /* Adjust padding as needed */
}
.circle-container {
  border-bottom: 1px solid #578de2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5.313rem;
}
.circle {
  border: 1px solid #578de2;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: bold;
  color: #0b57d0;
}
.search__section-heading {
  font-size: 2rem;
  color: #0b57d0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.heading__container {
  text-align: center;
  margin-top: 3rem;
}
.form__contaienr {
  text-align: center;
}
.input__Search {
  padding: 1rem 4rem;
  border: 1px solid #bce0fd;
  font-size: 14px;
  color: #828282;
}
.search__button {
  margin-top: 2.4rem;
}
.printscreen__button {
  padding: 1.5rem 0;
  background-color: #0b57d0;
  border-radius: 0;
  color: #fff;
  font-size: 0.938rem;
  letter-spacing: 1.51px;
  width: 100%;
  margin-top: 2rem;
}
.scanning__page-button {
  padding: 1.5rem 0;
  background-color: #0b57d0;
  border-radius: 0;
  color: #fff;
  font-size: 0.938rem;
  letter-spacing: 1.51pt;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  max-width: 600px;
}
.scanning__page-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
