/* landing page css */
.imageContainer {
  background-image: url(src/assets/splash4bg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* landing page css ends */

/* service css start  */
.cloud-hdr_result {
  background-image: url(src/assets/Group_1088.png);
  background-repeat: no-repeat;
  /* text-align: center; */
  font-family: "RobotoCondensedMedium";
  color: #fff;
  position: relative;
  padding: 32px 0px 0px 0px;
}

.itemContainerHeader_result{
  margin-left: 220px;
}
.close-btn_result {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  cursor: pointer;
}
.tidy-tPS_result {
  width: 150px;
  position: absolute;
  left: 4%;
  top: 25%;
}

.tidy-tPS_result>img{
  width: 100%;
}

.cloud-hdr {
  background-color: #0b57d0;
  /* text-align: center; */
  font-family: "RobotoCondensedMedium";
  color: #fff;
  position: relative;
  padding: 44px 0px 12px 0px;
}

.itemContainerHeader{
  margin-left: 220px;
}
.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 50px; 
  cursor: pointer;
}
.close-btnSH {
  position: absolute;
  top: 30px;
  right: 16px;
  width: 50px; 
  cursor: pointer;
}
.close-btnSH > img {
  width: 100%;
}
.close-btn > img {
  width: 100%;
}
.edgeBtn{
  text-align: center;
  margin-top: 10px;
}
.edgeBtn>button{
  outline: none;
  border: 1px solid #0b57d0;
  width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: transparent;
  color: #0B57D0;
  font-size: 15px;
  font-family: 'robotoRegular';
}
.itemContainerHeader>div:first-child {
  /* flex: 1; */
  /* font-family: 'robotoCondensedRegular'; */
}
.select-text {
  font-weight: normal;
  font-size: 24px;
}
.service-textSH {
  font-weight: normal;
  font-size: 40px;
  margin-left: -20px;
}
.plateform-text {
  font-size: 56px;
}
.service-text {
  font-size: 26px;
}

.tidy-tPSS {
    width: 150px;
    position: absolute;
    left: 4%;
    bottom: -40%;
}
.tidy-tPSS>img {
  width: 100%;
}

.tidy-tPSH {
  width: 235px;
  position: absolute;
  left: -2%;
  bottom: 3%;
}
.tidy-tPSH>img {
width: 100%;
}

.setting_top_content {
  font-size: 20px;
  color: #8F8F8F;
  font-family: 'robotoRegular';
  margin-left: 200px;
  padding-top: 25px;
  border-bottom: 1px solid #8F8F8F;
  max-width: 70%;
}
.bottom_content_parent {
  display: flex;
  margin-left: 200px;
  padding-top: 30px;
  max-width: 70%;
  justify-content: space-between;
}
.bottom_first {
  font-size: 35px;
  font-family: 'robotoCondensedRegular';
  word-spacing: 0.3rem;
  padding-left: 20px;
}
.custom-dropdown {
  padding-right: 20px;
}
.custom-dropdown select {
  width: 240px; /* Set the width of the dropdown */
  height: 40px; /* Set the height of the dropdown */
  font-size: 16px; /* Set the font size */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add some border radius */
  padding: 8px; /* Add some padding */
  outline: none; /* Remove default focus outline */
  background-color: white; /* Set the background color */
}

.custom-dropdown select:focus {
  border-color: #0b57d0; /* Change border color on focus */
}

/* Style the dropdown arrow */
.custom-dropdown select::-ms-expand {
  display: none; /* Hide the default arrow on IE */
}
.custom-dropdown select::after {
  content: '\25BC'; /* Use a Unicode arrow character */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow is not clickable */
}

/* Style the options */
.custom-dropdown option {
  background-color: white;
  color: black;
}

.custom-input {
  font-size: 16px; /* Set the font size */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add some border radius */
  padding: 8px; /* Add some padding */
  outline: none; /* Remove default focus outline */
  padding-right: 20px;
  width: 210px;
  height: 22px;
}

.custom-input:focus {
  border-color: #0b57d0; /* Change border color on focus */
}

.leader_board-button2 {
  outline: none;
  border: 1px solid #0b57d0;
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: transparent;
  margin-right: 3rem;
  letter-spacing: 1px;
  color: #0B57D0;
  font-size: 15px;
  cursor: pointer;
  font-family: 'robotoRegular';
}
.play_again-button2 {
  width: 12rem;
  background: #0b57d0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  outline: 0;
  border: 0;
  margin-top: 7rem;
  letter-spacing: 1px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  font-family: 'robotoRegular';
}
.play_again-button2:disabled {
  cursor: not-allowed;
}
.leader__board-button-container2 {
  max-width: 70%;
  float: right;
  padding-right: 228px;
}

.tidy-tPS-posetxtss {
  width: 180px;
  position: absolute;
  /* left: calc(50% - 25px); */
  bottom: 0%;
  /* left: 0; */
  transform: translate(-15px, 50%);
}
.tidy-tPS-posetxtss>img {
  width: 100%;
}

.tidy-tPS-posetxtSH {
  width: 180px;
  position: absolute;
  /* left: calc(50% - 25px); */
  bottom: 0%;
  /* left: 0; */
  transform: translate(-15px, 50%);
}
.tidy-tPS-posetxtSH>img {
  width: 100%;
}

/* service css ends */

/* selecte page css starts */
.cloud-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 60px;
  /* align-items: center;
  flex-direction: column; */
  font-family: robotoCondensedRegular;
}
.right_content{
  text-align: center;
  margin-top: 40px;
}
.right_top_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEF4FF;
}
.cloud-wrapper-img {
  width: 200px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 15px;
}
.cloud-wrapper-img > img {
  width: 100%;
  /* height: 100%; */
}

.wrapper-textHdr1 {
  font-weight: bold;
  font-size: 24px;
  margin: 16px 0px;
}
.wrapper-textHdr12 {
  padding: 18px 10px 24px 10px;
  font-size: 16px;
}
.wrapper-textHdr12 > span {
  font-weight: bold;
}
.letsPlay {
  width: 100%;
  margin-top: 24px;
  /* text-align: center; */
}

.instructionList {
  padding-right: 25px;
  padding-top: 50px;
  margin-left: 70px;
  font-size: 20px;
  color: black;
  padding-left: 6px;
}

.instructionList h6 {
  font-family: 'robotoCondensedRegular';
}   

.instructionHeading{
  font-size: 36px;
  /* margin: 12px 0px; */
}

#bottomMarkText {
  padding-left: 36px;
  margin: 0;
  background: url(src/assets/footer-logo.png) no-repeat left center;
  display: inline-block;
  color: #fff;
  font-family: 'segoe';
}
.bottomFooter {
  position: absolute;
  width: 100%;
  line-height: 45px;
  background-color: rgba(63, 127, 222, 1);
  bottom: 0;
  text-align: center;
  font-family: 'segoe';
}

.bottomFooterPrint {
  position: fixed;
  width: 100%;
  line-height: 45px;
  background-color: rgba(63, 127, 222, 1);
  bottom: 0;
  text-align: center;
  font-family: 'segoe';
}



.instructionList li {
  font-family: 'robotoRegular';
  font-size: 24px;
}
.cusButton {
  background: #0b57d0;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-family: 'robotoRegular';
    padding: 12px;
    width: 100%;

}
.cusButton:disabled {
  background: gray;
  cursor: no-drop;
}

/* selecte page css ends*/

/* header css starts */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b57d0;
  /* padding: 1rem 1rem 1rem 1rem; */
}

.poseOff__logo {
  max-width: 120px;
  margin-left: 32px;
  padding-top: 8px;
}
.poseOff__logo > img {
  width: 100%;
}
.header__right-container {
  display: flex;
  gap: 1rem;
  /* padding-inline: 1rem; */
  padding-right: 48px;
}
.header__right-container img {
  max-width: 50px;
  cursor: pointer;
}

/* header css ends */



 /* leader board ranking css starts */

 .leader_board_container {
  background-color: #0B57D0;
  min-width: 1000px;
  min-height: 100vh;
}
.laader_baord_inner_container {
  max-width: 1100px;
  margin: auto;
  position: relative;
}
.leader_board_head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; 
  background-color: #0B57D0;
}
.leader_board_bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; 
  background-color: #02346E;
}
.leader_board_body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 24px;
  
  max-width: 1100px;
  min-width: 1000px;
  margin: auto;
  /* width: 100%;*/
}
.leader_board_bottom_body {
  max-width: 1100px;
  min-width: 1000px;
  margin: auto;
  padding: 16px 0px;
}
.leader_board_body > div:first-child {
  color: #ffffff;
  font-size: 42px;
  font-family: robotoCondensed;
}
.leader_board_body > div:last-child {
  width: 50px;
}
.leader_board_body > div:last-child > img {
  width: 100%;
}
 /* leader board ranking css ends */
 /* platform select progress bar starts */
 .leader__board-button-containerPS {
  text-align: center;
  margin-top: 1.5rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.leader__board-button-containerPS .loader_boxPS {
  width: 440px;
  margin: 8px 0px;
}

.leader__board-button-containerPS>div {
  text-align: center;
  border-radius: 3px;
  border: 2px solid#0B57D0;
  padding: 16px 8px 8px 8px;
  font-size: 20px;
  color:#0b57d0;
  cursor: pointer;
}
 /* platform select progress bar ends */

 /* selected service progress bar starts */
 .leader__board-button-containerSS {
  text-align: center;
  margin-top: 2rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.leader__board-button-containerSS .loader_boxSS {
  width: 440px;
  margin: 8px 0px;
}

.leader__board-button-containerSS>div {
  text-align: center;
  border-radius: 3px;
  background-color:#0B57D0;
  padding: 16px 8px 8px 8px;
  font-size: 20px;
  color:#FFF;
  cursor: pointer;
}


.leader_ranking_contaner {
  /* padding: 8px; */
  padding:86px 8px 130px 8px;
}

.leader_row_container {
  border: 4px solid #ffffff;
  border-radius: 28px;
  position: relative;
  /* background: linear-gradient(
    95deg,
    #F6DAAF 0%,
    #FEE755 100%
  ); */
  padding: 6px;
}
.leader_box_reflection_img {
  position: absolute;
  top: 8px;
  left: 8px;
}
.leader_row_box {
  background: linear-gradient(
    180deg,
    #FFFFFF87 0%,
    #FFFFFF00 100%
  );
  border-radius: 20px;
  display: grid;
  grid-template-columns: 40px 140px 1fr 80px 40px;
  align-items: center;
  gap: 20px;
  padding: 8px 8px;
  /* border: 4px solid #FEE755; */

  
}
.leader_row_img_box {
  width: 35px;
  padding: 8px;
}
.leader_row_img_box > img {
  width: 100%;
}
.leader_row_name_box {
  /* background-color: aquamarine; */
  /* min-height: 40px; */
  font-weight: bold;
  font-size: 16px;
  font-family: 'robotoRegular';
  font-weight: bold;

}
.leader_row_name_box > div:first-child {
  /* margin-top: 12px; */
}
.leader_row_name_box > div:last-child {
  /* font-size: 13px; */
}
.leader_row_ranking_box{
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;
  align-self: end;
  /* width: calc(540px); */
}
.leader_row_rank_box > div:first-child {
  display: flex;
  width: 54px;
  height: 36px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'The Hound, Regular';
}
.leader_row_rank_box > div:last-child {
  font-size: 14px;
  width: 54px;
  text-align: center;
  margin: 2px 0px;
}
.leader_row_ranking_box > div {
  /* background-color: #0B57D0; */
  text-align: center;
  margin: auto;
 
}
.leader_row_time_box {
  /* background-color: pink; */
  text-align: center;
}
.leader_row_time_box > div:first-child {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  font-family: 'The Hound, Regular';
  /* color: #00672B; */
}
.leader_row_time_box > div:last-child {
  /* font-size: 14px; */
}
.leader_row_curr_rank_box > div{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'The Hound, Regular';
  /* background-color: #000000; */
  /* color: #ffffff; */
  
  /* background-color: purple; */
}
 /* selected service progress bar ends */



/* progress loader css starts*/

.progress_loader_box {
  width: 100%;
  border-radius: 4px;
}
.progress_loader_box > div {
  height: 8px;
  border-radius: 4px;
}

 /* progress loader css ends */

 .timer-text {
  font-weight: bold;
  color:#0B57D0;
  font-family: 'The Hound, Regular';
  font-size: 20px;
}

.close_btn {
  cursor: pointer;
}

.acknowledgeCheckbox {
  display: flex;
  gap: 1rem;
  margin-top: 40px;
  border-top: 1px solid #707070;
}
.ackknowledgeTxt {
  color: #A5A5A5;
  font-family: 'robotoRegular';
}
.img-fluid {
  max-width: 300px;
  border-radius: 12px;
}
